<h1>About</h1>
<p>Welcome to the Jungle! This is a marketplace app built with Ruby on Rails!</p>
<p>Feel free to explore around the jungle and find items that might help you along your adventure!</p>
